[Unit]
Description=Service to provide/export Phone functionality
After=ofono.service

[Service]
Type=dbus
User=app
BusName=org.tizen.phone
ExecStart=/usr/bin/phoned
Type=simple

[Install]
WantedBy=multi-user.target
