[Unit]
Description=Service to provide/export Phone functionality
After=ofono.service

[Service]
Type=dbus
BusName=org.tizen.phone
ExecStart=/usr/bin/phoned

[Install]
WantedBy=multi-user.target
